/* FONT STACK */
body,
input, select, textarea {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

/* BASE LAYOUT */

html {
  background-color: #ddd;
  background-image: -moz-linear-gradient(center top, #aaa, #ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
  background-image: linear-gradient(to bottom, #aaa, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
  background-repeat: no-repeat;
  height: 100%;
  /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.no-cssgradients {
  background-color: #aaa;
}

html * {
  margin: 0;
}

body {
  background-color: #FFFF;
  color: #333333;
  overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
  -moz-box-shadow: 0 0 0.3em #424649;
  -webkit-box-shadow: 0 0 0.3em #424649;
  box-shadow: 0 0 0.3em #424649;
}

#grailsLogo {
  background-color: #feb672;
}

a:hover, a:active {
  outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 1.25em;
  margin: 0.8em 0 0.3em 0;
}

ul {
  padding: 0;
}

img {
  border: 0;
}

/* GENERAL */

#grailsLogo a {
  display: inline-block;
  margin: 1em;
}

.content {
}

.content h1 {
  border-bottom: 1px solid #CCCCCC;
  margin: 0.8em 1em 0.3em;
  padding: 0 0.25em;
}

.scaffold-list h1 {
  border: none;
}

.footer img {
  height: 80px;
  margin-right: 25px;
  margin-bottom: 15px;
  clear: bottom;
}

.footer strong a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer {
  background: #424649;
  color: #ffffff;
  clear: both;
  font-size: 1em;
  margin-top: 1.5em;
  padding: 1em;
  padding-bottom: 2em;
  min-height: 1em;
}

.footer a {
  color: #feb672;
}

.spinner {
  background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
  height: 16px;
  width: 16px;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  text-indent: -9999px;
}

/* NAVIGATION MENU */

/* customizing bootstrap nav bar */
.navbar {
  margin-bottom: 0px;
  padding-right: 110px;
}
.navbar .container {
  margin: 10px;
}
.navbar-dark a {
  color: #ffffff !important;
  font-size: 18px !important;
  text-decoration: none;
}
.grails-icon img {
  width: 40px;

}
.navbar-dark, .navbar-static-top {
  background-color: #424649;
  border: 0px;
}
a.navbar-brand {
  color: white !important;
  font-size: 19px !important;
}
.navbar-dark .navbar-nav>.active>a, .navbar-dark .navbar-nav>.active>a:hover, .navbar-dark .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: white;
}
.navbar-nav>li.active>a {
  color: white !important;
}
.navbar-nav>li>a:hover {
  color: #2559a7 !important;
  background-color: transparent !important;
}
.navbar-nav>li>a {
  color: #FFFFFF;
}
.navbar-dark .navbar-toggler .icon-bar {
  background-color: white;
}
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #2559a7;
}

.navbar-toggler {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.nav .dropdown a.dropdown-toggle {
  /* padding-top: 25px;
   padding-bottom: 25px;
   */
}

@media (min-width: 768px) {
  .container {
    width: auto;
  }
}

/* specific to index.html */


.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{

}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{

}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;
  min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
  .mainmenu .collapse ul li:hover> ul{display:block}
  .mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
  /*******/
  .mainmenu .collapse ul ul li{position:relative}
  .mainmenu .collapse ul ul li:hover> ul{display:block}
  .mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
  /*******/
  .mainmenu .collapse ul ul ul li{position:relative; width:400px;}
  .mainmenu .collapse ul ul ul li:hover ul{display:block}
  .mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
  .navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
  .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}

@media (max-width: 999px) {


  .navbar {
    padding-right: 0px;
  }
}


.nav {
  zoom: 1;
}

.nav ul {
  padding-left: 0;
  zoom: 1;
}

.nav li {
  display: block;
  /*float: left;*/
  list-style-type: none;
  margin-right: 0.5em;
  padding: 0;
}
.nav ul.dropdown-menu a{
  display:block !important;

}
.nav a {
  color: #666666;
  display: block;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.nav li.dropdown-item a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav a:active, .nav a:visited {
  color: #666666;
}

.nav a:focus, .nav a:hover {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}

.nav a.home {
  background-image: url(../images/skin/house.png);
}

.nav a.list {
  background-image: url(../images/skin/database_table.png);
}

.nav a.create {
  background-image: url(../images/skin/database_add.png);
}

.nav li.dropdown.show ul.dropdown-menu {
  background-color: #FFF;
}
.nav .dropdown-menu {
  padding: .5rem;

}
.nav .dropdown-menu li {
  display: block;

}


/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
  margin: 0.6em 1.25em 0 1.25em;
  padding: 0.3em 1.8em 1.25em;
  position: relative;
  zoom: 1;
  border: none;
}

.property-list .fieldcontain {
  list-style: none;
  overflow: hidden;
  zoom: 1;
}

.fieldcontain {
  margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
  color: #666666;
  text-align: right;
  width: 25%;
}

.fieldcontain .property-label {
  float: left;
}

.fieldcontain .property-value {
  display: block;
  margin-left: 27%;
}

label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.25em 0 0;
}

input, select, textarea {
  background-color: #fcfcfc;
  border: 1px solid #cccccc;
  font-size: 1em;
  padding: 0.2em 0.4em;
}

select {
  padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
  vertical-align: top;
}

textarea {
  width: 250px;
  height: 150px;
  overflow: auto; /* IE always renders vertical scrollbar without this */
  vertical-align: top;
}

input[type=checkbox], input[type=radio] {
  background-color: transparent;
  border: 0;
  padding: 0;
}

input:focus, select:focus, textarea:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  outline: 0;
  -moz-box-shadow: 0 0 0.5em #ffffff;
  -webkit-box-shadow: 0 0 0.5em #ffffff;
  box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
  color: #cc0000;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.3em;
  position: relative;
  top: 0.1em;
}

ul.one-to-many {
  display: inline-block;
  list-style-position: inside;
  vertical-align: top;
}

ul.one-to-many li.add {
  list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
  background-color: transparent;
  border: 1px solid #CCCCCC;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

fieldset.embedded legend {
  margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
  font-size: 0.8em;
  line-height: 2;
  margin: 1em 2em;
  padding: 0.25em;
}

.message {
  background: #f3f3ff;
  border: 1px solid #b2d1ff;
  color: #006dba;
  -moz-box-shadow: 0 0 0.25em #b2d1ff;
  -webkit-box-shadow: 0 0 0.25em #b2d1ff;
  box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
  background: #fff3f3;
  border: 1px solid #ffaaaa;
  color: #cc0000;
  -moz-box-shadow: 0 0 0.25em #ff8888;
  -webkit-box-shadow: 0 0 0.25em #ff8888;
  box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
  padding: 0;
}

.errors li {
  list-style: none;
  background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
  text-indent: 2.2em;
}

.message {
  background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
  text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
  background: #fff3f3;
  border-color: #ffaaaa;
  color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
  -moz-box-shadow: 0 0 0.5em #ffaaaa;
  -webkit-box-shadow: 0 0 0.5em #ffaaaa;
  box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
  background: #fff3f3;
  border-color: #ffaaaa;
  color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
  -moz-box-shadow: 0 0 0.5em #ffaaaa;
  -webkit-box-shadow: 0 0 0.5em #ffaaaa;
  box-shadow: 0 0 0.5em #ffaaaa;
}

/* PAGINATION */

.pagination {
  border-top: 0;
  margin: 0.8em 1em 0.3em;
  padding: 0.3em 0.2em;
  text-align: center;
  -moz-box-shadow: 0 0 3px 1px #AAAAAA;
  -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
  box-shadow: 0 0 3px 1px #AAAAAA;
  background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
  color: #666666;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
  background-color: #efefef;
  overflow: hidden;
  padding: 0.3em;
  -moz-box-shadow: 0 0 3px 1px #aaaaaa;
  -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
  box-shadow: 0 0 3px 1px #aaaaaa;
  margin: 0.1em 0 0 0;
  border: none;
}

.buttons input,
.buttons a {
  background-color: transparent;
  border: 0;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.25em 0;
  overflow: visible;
  padding: 0.25em 0.7em;
  text-decoration: none;

  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}

.buttons .delete {
  background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
  background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
  background-image: url(../images/skin/database_save.png);
}

a.skip {
  position: absolute;
  left: -9999px;
}

.grails-logo-container {
  background: #7c7c7c no-repeat 50% 30%;
  margin-bottom: 20px;
  color: white;
  height:300px;
  text-align:center;
}

img.grails-logo {
  height:340px;
  margin-top:-10px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 10px 10px 0 10px;
}



#main-container {
  background-color: #FFF;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

footer {
  text-align: center;
  border-top: 1px gray solid;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 30px;
}

footer > img {
  margin-top: 20px;
  height: 60px;
}

footer > hr {
  width: 90%;
}

footer > p > a {
  color: black;
}

.site-header {
  background-color: #a1e2dc;
  font-color: #ffffff;
  font-size: 16px;
}
.version-number {
  font-color: #000000;
  font-size: 11px;
}
.menu-options {
  font-color: #000000;
  font-size: 14px;
}
.user-options {
  font-color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}
.logout-options {
  font-color: #02a5ce;
  font-size: 16px;
  font-weight: bold;
}
.position-navigation  {
  padding-right: 20em;
}
.section form  {
  padding-top: 10px;
}
.form-padding {
  display: block;
  padding:0px !important;
  line-height: 15px;

}
.new-line {
  display: block;
  padding:0px !important;
  line-height: 5px;

}
.section .form-row label {
  padding-left: 20px !important;
}
.main-heading {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  color:#313163;
  background-color: #d7f3f1;
}
.section-heading {
  text-align: left;
  font-size: 14px;
  font-weight: bold;

  color:#009bc5;
  background-color:  #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
}
.no-padding {
  padding:0px;
}
.tabs-component {
  margin: 4em 0;

}

.tabs-component-tabs {
  border: solid 1px #ddd;
  border-radius: 6px;
  margin-bottom: 5px;
  background-color: #313163;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab {
  color: #009bc5;
  font-size: 12px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
  background-color: #313163;
}

.tabs-component-tab:not(:last-child) {
  border-bottom: dotted 1px #ddd;

}

.tabs-component-tab:hover {
  color: #FFF;
}

.tabs-component-tab.is-active {
  color: #009bc5;
  text-decoration: none;
  background-color: #313163;
  font-size: 14px;
}

.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab {

    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active {
    border-bottom: solid 1px #fff;
    z-index: 2;
    transform: translateY(0);
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .75em 1em;
  text-decoration: none;
}

.tabs-component-panels {
  padding: 4em 0;
}

@media (min-width: 700px) {
  .tabs-component-panels {
    border-top-left-radius: 0;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 4em 2em;
  }
}


/* TABLES */

table {
  border-top: 1px solid #DFDFDF;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

tr {
  border: 0;
}

tr>td:first-child, tr>th:first-child {
  padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
  padding-right: 1.25em;
}

td, th {
  line-height: 1.5em;
  padding: 0.5em 0.6em;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
  color: #666666;
  font-weight: bold;
  line-height: 1.7em;
  padding: 0.2em 0.6em;
}

thead th {
  white-space: nowrap;
}

th a {
  display: block;
  text-decoration: none;
}

th a:link, th a:visited {
  color: #666666;
}

th a:hover, th a:focus {
  color: #333333;
}

th.sortable a {
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 1.1em;
}

th.asc a {
  background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
  background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
  background: #f7f7f7;
}

.even {
  background: #ffffff;
}

th:hover, tr:hover {
  background: #f5f5f5;
}



.table {
  margin: 20px 0
}

.table thead tr th {
  padding: 10px;
  font-weight: normal;
  font-size: 12px
}
.table thead tr .sortable {
  color: #313163;
  font-weight:bold;
}

.table tbody tr td {
  vertical-align: top;
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #EEE
}
.table th, .table td {
  font-size: 12px;
}
.section {
  background-color:#d7f3f1;
}
.section .field {
  color:#313163;
  font-size: 12px;
}
.section-row {
  clear: both;
  display: inline;

}
.section-field-label {
  color:#313163;
  font-size: 12px;

}
.form-control {
  font-size: 12px;
}
.autocomplete-results, .autocomplete-result {
  font-size: 12px;
  background-color:#ffffff !important;;
  color:#000000 !important;
}
.autocomplete-result.is-active, .autocomplete-result:hover {
  background-color:#ffffff !important;
  color:#000000 !important;
}
/*Check box*/
.check-boxes label{
  position: relative;
  cursor: pointer;
  color: #313163;
  font-size: 12px;
}

.radio-buttons label{
  position: relative;
  cursor: pointer;
  color: #313163;
  font-size: 11px;
}

.btn-save {
  font-size: 14px;
  background-color: #fd0825;
  color:#FFFFFF;
}
.btn-cancel {
  font-size: 14px;
  background-color: #858484;
  color:#FFFFFF;
}
.btn-general {
  font-size: 14px;
  background-color: #ff6b00;
  color:#FFFFFF;
}

.inline {
display: inline;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
   border-bottom: 1px solid #e9ecef;

  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-footer {
    display: -webkit-box;
    display: block !important;
    -webkit-box-align: left !important;
    align-items:left !important;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
